#Pointer {
  position: absolute;
  top: 97%;
  left: 50%;
  transform: translate(0%, 0%);
}

#pole {
  background: red;
  transform-origin: left;
  cursor: col-resize;
  height: 10px;
  width: 200px;
}
