#Pointer {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
}

#pole {
  background: red;
  transform-origin: bottom center;
  cursor: col-resize;
  height: 200px;
  width: 10px;
}

#hinge {
  position: absolute;
  width: 4rem;
  height: 4rem;
  background-color: navy;
  border-radius: 2rem;
  z-index: 2;
  left: -1.5rem;
  bottom: -20%;
}
