#Pointer {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
}

#pole {
  background: red;
  transform-origin: bottom center;
  cursor: col-resize;
  height: 200px;
  width: 10px;
}
